#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.Container {
	padding: 0px 10px;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

header {
	font-size: 2rem;
	margin: 30px;
}
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}
.main {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* CArd */
.card {
	background: white;
	border-radius: 15px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	padding: 15px;
	text-align: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.card img {
	width: 200px; /* Set a fixed width */
	height: 200px; /* Set a fixed height */
	border-radius: 10px;
	object-fit: cover; /* Ensures images fit within the box */
}

.card button {
	margin-top: 10px;
	padding: 8px 12px;
	border: none;
	border-radius: 20px;
	background-color: #ff6b81;
	color: white;
	font-size: 18;
}
